.App {
  text-align: center;
}

img {
  border-radius: 4px;
  padding: 5px;
  width: 100px;
}
.container {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.mainContainer{
border-style: solid;
border-width: medium;
background-color : rgb(211, 206, 206);
}